In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import re
import nltk
from collections import defaultdict
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
stop_words = set(stopwords.words('english'))

In [5]:
# Opening the text files
file1 = open('/content/Father_Brown/Blue Cross.txt', encoding = 'utf-8')
file_data1 = file1.read()
file_data1 = file_data1.split(" ")
file_data1 = " ".join([re.sub('[^A-Za-z0-9]',' ',i) for i in file_data1])

file2 = open('/content/Father_Brown/Broken Sword.txt', encoding = 'utf-8')
file_data2 = file2.read()
file_data2 = file_data2.split(" ")
file_data2 = " ".join([re.sub('[^A-Za-z0-9]',' ',i) for i in file_data2])

file3 = open('/content/Father_Brown/Eye of Apollo.txt', encoding = 'utf-8')
file_data3 = file3.read()
file_data3 = file_data3.split(" ")
file_data3 = " ".join([re.sub('[^A-Za-z0-9]',' ',i) for i in file_data3])

file4 = open('/content/Father_Brown/Flying Stars.txt', encoding = 'utf-8')
file_data4 = file4.read()
file_data4 = file_data4.split(" ")
file_data4 = " ".join([re.sub('[^A-Za-z0-9]',' ',i) for i in file_data4])

file5 = open('/content/Father_Brown/Hammer of God.txt', encoding = 'utf-8')
file_data5 = file5.read()
file_data5 = file_data5.split(" ")
file_data5 = " ".join([re.sub('[^A-Za-z0-9]',' ',i) for i in file_data5])

file6 = open('/content/Father_Brown/Invisible Man.txt', encoding = 'utf-8')
file_data6 = file6.read()
file_data6 = file_data6.split(" ")
file_data6 = " ".join([re.sub('[^A-Za-z0-9]',' ',i) for i in file_data6])

file7 = open('/content/Father_Brown/Israel Crow.txt', encoding = 'utf-8')
file_data7 = file7.read()
file_data7 = file_data7.split(" ")
file_data7 = " ".join([re.sub('[^A-Za-z0-9]',' ',i) for i in file_data7])

In [6]:
text_tokens = word_tokenize(file_data1 + " " + file_data2 + " " + file_data3 + " " + file_data4 + " " + file_data5 + " " + file_data6 + " " +
                              file_data7)
filtered_text = [w for w in text_tokens if not w.lower() in stop_words]
 
filtered_text = " ".join(filtered_text)

In [7]:
# Retrieving unique words from the document
unique_words_list = [set(filtered_text.split(" "))]
unique_words = set().union(*unique_words_list)

In [8]:
# Defining a dictionary which has the unique words as keys and the document number as values
# The document number is from 1 to 11
document = defaultdict(list)
for word  in unique_words:
  if word != " " or word != '':
    if word in file_data1.split(" "):
      document[word].append('1')
    else:
      pass
    if word in file_data2.split(" "):
      document[word].append('2')
    else:
      pass
    if word in file_data3.split(" "):
      document[word].append('3')
    else:
      pass
    if word in file_data4.split(" "):
      document[word].append('4')
    else:
      pass
    if word in file_data5.split(" "):
      document[word].append('5')
    else:
      pass
    if word in file_data6.split(" "):
      document[word].append('6')
    else:
      pass
    if word in file_data7.split(" "):
      document[word].append('7')

  else:
    continue

In [9]:

doc_coll = list(document)

In [10]:
df = pd.DataFrame(list(document.items()), columns = ['words','Posting List'])
df

           words           Posting List
0       besieged                    [6]
1        suppose  [1, 2, 3, 4, 5, 6, 7]
2           week                 [4, 6]
3         mildly                    [2]
4      Archibald                    [7]
...          ...                    ...
5881     admiral                    [6]
5882  discussion                    [1]
5883        trot                    [1]
5884     strikes                    [6]
5885        room     [1, 3, 4, 5, 6, 7]

[5886 rows x 2 columns]

In [11]:
map_dict = {'1': 'Blue Cross', '2': 'Broken Sword', '3': 'Eye of Apollo', '4': 'Flying Stars', 
            '5': 'Hammer of God', '6': 'Invisible Man', '7': 'Israel Crow'}

In [12]:
# Function for applying boolean operators to the inverted index
def inverted_index(query):
  for word_token in query.split():
    if word_token == 'and':
      query = query.replace(word_token, '&')
    elif word_token == 'or':
      query = query.replace(word_token, '|')
    elif word_token == 'not':
      query = query.replace(word_token, "{'1','2','3','4','5','6','7'}-")
  for word_token in query.split():
    if word_token.isalpha():
      query = query.replace(word_token, repr(set(document[word_token])))
  return query

**Executing Boolean Queries**

*Query1*

In [13]:
query1 = 'cheerful and broke'
exp1 = inverted_index(query1)
exp1

"{'5', '1', '6'} & {'7', '1', '2', '3'}"

We can conclude that the word 'cheerful' is contained in documents 1, 5 and 6, and the word 'broke' is contained in documents 1, 2, 3 and 7.

In [14]:
final_result1 = eval(exp1)
final_result1

{'1'}

In [15]:
for i in final_result1:
  print(map_dict[i])

Blue Cross

From the result of Query 1, we can infer that the document 1 which corresponds to the text 'Blue Cross', is the only text that contains both the words 'cheerful' and 'broke'.

*Query 2*

In [16]:
query2 = 'cheerful and not broke'
exp2 = inverted_index(query2)
exp2

"{'5', '1', '6'} & {'1','2','3','4','5','6','7'}- {'7', '1', '2', '3'}"

In [17]:
final_result2 = eval(exp2)
final_result2

{'5', '6'}

In [18]:
for i in final_result2:
  print(map_dict[i])

Hammer of God
Invisible Man

From the result of Query 2, we can infer that the documents 5 and 6 which corresponds to the texts 'Hammer of God' and 'Invisible Man', contains the word cheerful but do not contain the word broke.

*Query 3*

In [19]:
query3 = 'cheerful or broke'
exp3 = inverted_index(query3)
exp3

"{'5', '1', '6'} | {'7', '1', '2', '3'}"

In [20]:
final_result3 = eval(exp3)
final_result3

{'1', '2', '3', '5', '6', '7'}

In [21]:
for i in final_result3:
  print(map_dict[i])

Broken Sword
Hammer of God
Blue Cross
Invisible Man
Israel Crow
Eye of Apollo

From the result of Query 3, we can infer that the documents 1, 2, 3, 5, 6 and 7, which corresponds to the texts 'Blue Cross', 'Broken Sword', 'Eye of Apollo' 'Hammer of God', 'Invisible Man' and 'Israel Crow' respectively, contains either the word 'cheerful' or 'broke'.

*Query 4*

In [22]:
query4 = 'cheerful or not broke'
exp4 = inverted_index(query4)
exp4

"{'5', '1', '6'} | {'1','2','3','4','5','6','7'}- {'7', '1', '2', '3'}"

In [23]:
final_result4 = eval(exp4)
final_result4

{'1', '4', '5', '6'}

In [24]:
for word_token in final_result4:
  print(map_dict[word_token])

Flying Stars
Hammer of God
Blue Cross
Invisible Man

From the result of Query 4, we can infer that the documents 1, 4, 5, and 6 which corresponds to the texts 'Blue Cross', 'Flying Stars', 'Hammer of God' and 'Invisible Man' respectively, either contains the word 'cheerful' or do not contain the word 'broke'.

*Query 5*

In [25]:
query5 = 'cheerful and broke or adventures'
exp5 = inverted_index(query5)
exp5

"{'5', '1', '6'} & {'7', '1', '2', '3'} | {'1'}"

In [26]:
final_result5 = eval(exp5)
final_result5

{'1'}

In [27]:
for word_token in final_result5:
  print(map_dict[word_token])

Blue Cross

From the result of Query 5, we can infer that the documents 1, which corresponds to the texts 'Blue Cross', contains the words 'cheerful' and 'broke' or 'adventures'.